.container {
    background-color: #f8f8f8; 
    margin: 25px;
    padding: 10px;
    
};

.header {
    font-family: 'Anton', sans-serif;
    text-decoration: #282828;
    font-size: 30px;
    margin-bottom: 20px;
}

.text {
    font-family: 'Pragati Narrow', sans-serif;
    text-decoration: #505050;
    font-size: 20px;
    align-content: center
}
